@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ========== */
:root {
  --white-color: #fff;
  --text-fz: 14px;
  --sixteen-fz: 16px;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background: #000000;
  color: var(--white-color);
  font-size: var(--text-fz);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

/* ===== REUSABLE CLASSES ===== */
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.settings {
  position: absolute;
  bottom: 100px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings .settings-item {
  color: var(--white-color);
}

.settings .settings-item:not(:last-child) {
  margin-right: 40px;
}

.button {
  letter-spacing: 0.4px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px 5px 0px;
}

.button svg {
  margin-right: 1px;
  padding: 5px;
}

/* ===== HEADER & NAV ===== */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: #181818;
  padding: 25px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-scrolled {
  padding: 10px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  color: var(--white-color);
  font-size: 13px;
  line-height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #181818;
}

.nav-item {
  margin-right: 32px;
}

.nav-item:first-child {
  margin-right: 56px;
}

.nav-item:last-child .nav-link {
  color: #000;
  background-color: #fff;
  border-radius: 14px;
  font-size: var(--sixteen-fz);
  padding: 9px 20px;
}

/* ===== HOME ===== */
.home {
  padding-bottom: 62px;
  position: relative;
}

.home-background {
  position: relative;
}

.home-background:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0)));
  background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
  height: 100%;
  width: 100%;
}

.home-background img {
  width: 100%;
  height: 720px;
}

.home-text {
  position: absolute;
  max-width: 600px;
  bottom: 200px;
  right: 450px;
  text-align: center;
}

.home-title {
  font-size: 54px;
  line-height: 59px;
  margin-bottom: 18px;
}

.home-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--text-fz);
  line-height: 20px;
}

.home-description {
  line-height: 20px;
  margin-bottom: 13px;
}

/* ===== ABOUT ===== */
.about {
  padding-top: 50px;
}

.about-head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}

.about-subtitle {
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 40px;
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.about-card {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

.about-card-content {
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 0 45px 0 30px;
  text-align: left;
}

.about-card-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.about-card-description {
  max-height: 80px;
  max-width: 520px;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin-bottom: 15px;
}

/* ===== EXAMPLES ===== */
.examples {
  padding-top: 100px;
}

.example-content {
  position: relative;
}

.example-image {
  width: 100%;
  height: 600px;
}

.example-text {
  position: absolute;
  top: 260px;
  right: 70px;
  max-width: 298px;
}

.example-text-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 5px;
}

.example-text-description {
  line-height: 20px;
  color: #c0c0c0;
}

.example-settings {
  bottom: 45px;
  right: 40px;
}

.example-smaller {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

.example-smaller-img {
  width: 100%;
  height: 100%;
  max-height: 540px;
}

.example-smaller-settings {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example-smaller-settings .settings-item {
  color: var(--white-color);
}

.example-smaller-settings .settings-item:not(:last-child) {
  margin-right: 40px;
}

/* ===== TOOLS ===== */
.tools-container {
  width: 100%;
}

.tools-container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools-wrapper {
  padding-left: 100px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tools-text {
  max-width: 514px;
  width: 100%;
}

.tools-text-title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 14px;
}

.tools-text-suptitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 6px;
}

.tools-text-description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}

.section-subtitle {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 80px;
}

/* ===== LOGOS ===== */
.logos-wrapper {
  padding: 100px 0 120px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logos-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ===== TOUCH ===== */
.touch .container {
  padding: 100px 0;
}

.touch-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.touch-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.touch-title {
  display: inline-block;
  max-width: 571px;
}

.touch-subtitle {
  margin-bottom: 20px;
}

/* ============================== */
/* ===== FOOTER ===== */
.footer {
  padding: 100px 0 50px 0;
}

.footer-head {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-head-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper-subtitle {
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-rightside-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #c0c0c0;
}

.footer-rightside-list:first-child {
  margin-right: 35px;
}

.footer-rightside-list:last-child {
  padding-left: 20px;
}

.footer-rightside-list-link {
  color: #fff;
  margin-bottom: 15px;
  opacity: 0.9;
}

.footer-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  margin-bottom: 40px;
}

.footer-body:before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  top: 0;
}

.footer-body:after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
}

.footer-body-text {
  display: inline-block;
}

.footer-body-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer-body-button {
  cursor: text;
  max-width: 458px;
}

.footer-feet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-feet-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  opacity: 0.5;
}

.footer-feet-links-link:not(:last-child) {
  margin-right: 20px;
}

.footer-feet-links-link i {
  font-size: 24px;
  color: #fff;
}

.footer-feet-links-link i:hover {
  color: #20a0cb;
}

/* ============================== */
/* ============================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  background: #680909;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ============================== */
/*# sourceMappingURL=style.css.map */